.classpath
.project
.settings/
.idea/
.m2/
.jdoc/
*.iml
*.iws
*.swp
*.db
*.orig
.DS_Store
.directory
target/
out/
build.xml
build/
nbproject/
bin/
.bash_history
.bash_logout
.bashrc
.cache/
.gitconfig
.profile
.selected_editor
.ssh/
.viminfo
.vim/
.slcache/
cronlog/
binary.png
current-work.txt
original.png
scribble-gt/dependencies/
*cpl.png
*binary_cpl.png
*testpage*
*binary_testpage_*