<settings>
    <!-- All types of annotation plus their color RGB
        first part is the name and the rgb the color value.
        e.g. <TextLine rgb="255,255,0" />
        With the additional attribute alpha(double) you can add an alpha value. Default is 0;
        e.g. <TextLine rgb="255,255,0" alpha="0.3"/>
    -->
    <annotations>
        <test rgb="0,0,255"/>
        <another rgb="0,255,255"/>
    </annotations>

    <!-- colors of the graph and the deletion -->
    <presentation-colors>
        <graph rgb="0,255,0"/>
        <delete rgb="255,0,0"/>
    </presentation-colors>

</settings>
